<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 

     -->
    <div id="root">
      <h2>列表排序</h2>
      <input type="text" placeholder="请输入名字" v-model="keyword" />
      <button @click="sortType=2">年龄升序</button>
      <button @click="sortType=1">年龄降序</button>
      <button @click="sortType=0">原顺序</button>
      <ul>
        <li v-for="(person, index) in filterPersons" :key="person.id">
          {{person.name}} - {{person.age}}
        </li>
      </ul>
    </div>
  </body>
  <script src="../js/vue.js"></script>
  <script>
    Vue.config.productionTip = false;
    const vm = new Vue({
      el: '#root',
      data: {
        keyword: '',
        sortType: 0, // 0原顺序，1降序，2升序
        persons: [
          { id: '001', name: '张三', age: '20' },
          { id: '002', name: '李四', age: '22' },
          { id: '003', name: '王五', age: '18' },
          { id: '004', name: '王二麻子', age: '19' },
        ],
      },
      computed: {
        filterPersons() {
          const arr = this.persons.filter((person) => {
            return person.name.indexOf(this.keyword) !== -1;
          });
          if (this.sortType) {
            arr.sort((p1, p2) => {
              return this.sortType === 1 ? p2.age - p1.age : p1.age - p2.age;
            });
          }
          return arr;
        },
      },
    });
  </script>
</html>
